.info-display
{
    margin: 0 10px;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.566);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    max-height: calc(100dvh - 260px);

    .content-info-display
    {
        display: flex;
        flex-direction: column;
        align-items: start;

        h3
        {
            margin: 2px 0px;
            font-weight: 400;
            font-size: 23px;
        }

        p
        {
            margin: 5px 0px;
            font-weight: 300;
            font-size: 20px;

            a
            {
                color: var(--primary-color);
                text-decoration: none;
                position: relative;

                &::after
                {
                    content: "";
                    width: 100%;
                    height: 1px;
                    background-color: var(--primary-color);
                    display: inline-block;
                    position: absolute;
                    left: 0;
                    bottom: -2px;
                }
            }
        }

    }

    div
    {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        img
        {
            width: 50%;
            max-width: 290px;
            object-fit: cover;
        }
    }
}