.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-container{
    margin: 0rem 1rem;

    .section-img
    {
        width: 30rem;
        border-radius: 1%;
    }

    .description-container
    {
        padding: 0rem 1rem;

        .title
        {
            text-align: left; /*No funciona esta wea*/
            font-family: var(--secondary-font);
            font-size: 2rem;
            font-weight:bold;
            color: var(--purple-color);
        }

        .text-container
        {

            p /*Qué es esta p?*/
            {
                text-align: justify;
                font-family: var(--primary-font);
                font-size: 1.1rem;
                font-weight: 300;

                a/*Qué es esta a?*/
                {
                    /* text-decoration: none; */
                    color: var(--primary-color);
                }
            }
        }

        .links-container
        {
            /*This shit doesn't work*/
            margin: 0rem 1rem;
        }

    }
}