.music
{
    height: calc(100dvh - 62px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    .info-div-container
    {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        margin-bottom: 20px;
    }
}