.music {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2dvh;
  padding: 0 2dvh;

  .info-display {
    background-color: transparent;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    padding-top: 5dvh;

    .img {
      width: 55%;
      border-radius: 1%;
    }

    .content-info-display {
      display: flex;
      flex-direction: column;
      justify-items: center;
      width: 100%;

      .title {
        text-align: left;
        font-family: var(--primary-font);
        font-size: var(--p-size-sm);
        font-weight: 300;
        color: var(--purple-color);
        transition: font-size 1s ease;
      }

      .button-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 5dvh;
      }

      .text-container {
        object-fit: contain;
        color: var(--primary-color);
        flex-direction: column;
        font-family: var(--primary-font);
        font-size: var(--p-size-sm);
        font-weight: 200;
        transition: font-size 1s ease;

        h4 {
          font-size: calc(var(--p-size-sm) - 50px);
          font-weight: 300;
        }

        b {
          font-weight: 300;
        }
        p {
          margin: 5px 0px;
          font-size: calc(var(--p-size-sm) - 3px);
        }

        a {
          color: var(--purple-color);
        }
      }
    }
  }
}

@media (width > 768px) {
  .music {
    justify-content: space-between;

    .info-display {
      padding-top: 8rem;
      flex-direction: column;
      .img {
        margin-top: 2rem;
        width: 35%;
      }

      .content-info-display {
        .title {
          font-size: var(--p-size-md);
        }

        .button-container {
        }

        .text-container {
          h4 {
          }

          p {
            margin: 13px 0px;

            font-size: calc(var(--p-size-md) - 3px);
          }

          a {
            p {
              font-size: calc(var(--p-size-md) - 3px);
            }
          }
        }
      }
    }
  }
}

@media (width > 1224px) {
  .music {
    justify-content: space-between;
    align-items: center;

    .info-display {
      width: 80%;
      margin: 0 auto;
      padding-top: 15rem;
      flex-direction: row-reverse;
      justify-content: center;
      gap: 2rem;
      .img {
        margin-top: 2rem;
        width: 30%;
      }
      
      .content-info-display {

        width: fit-content;
        .title {
          font-size: var(--p-size-lg);
        }

        .button-container {
        }

        .text-container {
          h4 {
          }

          p {
            margin: 15px 0px;
            font-size: calc(var(--p-size-lg) - 3px);
            
          }

          a {
            p {
              font-size: calc(var(--p-size-lg) - 3px);
            }
          }
        }
      }
    }
  }
}
