.music {
  height: 100dvh;
  padding: 0dvh 1dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2dvh;

  .info-display {
    background-color: transparent;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;

    .img {
      width: 60%;
      border-radius: 1%;
    }

    .content-info-display {
      display: flex;
      flex-direction: column;
      justify-items: center;
      width: 100%;

      .title {
        text-align: left;
        font-family: var(--primary-font);
        font-size: 1.8rem;
        font-weight: 300;
        color: var(--purple-color);
        transition: font-size 1s ease;
      }

      .button-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 5dvh;
      }

      .text-container {
        object-fit: contain;
        color: var(--primary-color);
        flex-direction: column;
        font-family: var(--primary-font);
        font-size: 1.1rem;
        font-weight: 200;
        transition: font-size 1s ease;

        h4 {
          font-size: 1.3rem;
          font-weight: 300;
        }

        b {
          font-weight: 300;
        }

        a {
          color: var(--purple-color);
        }
      }
    }
  }
}

/* @media (width > 768px) {
    .info-display {
      .img {
        width: 50%;
      }

      .content-info-display {
        max-width: 90%;

        .title {
          font-size: 2.1rem;
        }

        .text-container {
          font-size: 1.5rem;

          h4 {
            font-size: 1.6rem;
          }
        }
      }
    }
  }

  @media (width > 1224px) {
    .info-display {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 20px;

      .img {
        width: 60dvh;
      }

      .content-info-display {
        max-width: 60%;

        .title {
          font-size: 2.4rem;
        }

        .text-container {
          font-size: 1.8rem;

          h4 {
            font-size: 1.9rem;
          }
        }
      }
    }
  }
} */
/* 
@media (width > 768px)
{
    .music
    {
        height: 88dvh;
    }

}

@media (width > 1224px)
{

    .music
    {
        height: 88dvh;
    }

} */
