.slide-images {
  position: relative;
  display: flex;
  width: 250px;
  padding-bottom: 3dvh;
}

.img-slider {
  border-radius: 3%;
  width: 120px;
  height: 120px;
  aspect-ratio: 1/1;
  object-fit: cover;
  background: #eee;
  display: block;
}

.swiper-slide {
  filter: brightness(20%);

  img {
    display: block;
    width: 100%;
  }
}

.swiper-slide-active {
  filter: brightness(100%) !important;
}

@media (width > 1000px) {
  .slide-images {
    width: 300px;
  }
}

@media (width > 1224px) {
  .slide-images {
    width: 400px;
  }
}

@media (width > 2024px) {
  .slide-images {
    width: 450px;
  }
}
