.slide-images
{
    position: relative;
    display: flex;
    max-width: 60dvw;
}

.img-slider{
    border-radius: 3%;
}

.swiper-slide {
    filter: brightness(20%);

    img {
        display: block;
        width: 100%;
    }
}

.swiper-slide-active
{
    filter: brightness(100%) !important;
}

.swiper-slide
{
    margin: 0 auto;

    img
    {
        display: block;
        width: 100%;
    }
}

@media (width > 768px)
{

    .slide-images
    {
        max-width: 40dvw;
    }

}

@media (width > 1224px)
{
    .slide-images
    {
        max-width: 25dvw;
    }
}