.background-container{
    position: absolute;
    width: auto;
    height: 100dvh;

    background-color: var(--background-color);
    opacity: 0.1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat-y;

    z-index: -1;
}