.section-container{
    margin: 0rem 1rem;
    padding: 0rem 1rem;
    max-width: 95%;
    position:relative;
    background: transparent;

    .img
    {
        width: 15rem;
        border-radius: 1%;
    }

    .title
    {
        text-align: left;
        font-family: var(--primary-font);
        font-size: 1.7rem;
        font-weight:500;
        color: var(--purple-color);
        transition: font-size 1s ease;
    }

    .subtitle
    {
        text-align: left;
        font-family: var(--primary-font);
        font-size: 1.4rem;
        font-weight: 500;
        color: var(--primary-color);
        transition: font-size 1s ease;
    }

    .collapsible {
        cursor: pointer;
        width: 100%;
        outline: none;

        margin: 0rem 0rem;
        padding: 0rem 0rem;

        text-align: left;
        font-family: var(--primary-font);
        font-size: 1.4rem;
        font-weight: 500;
        color: var(--primary-color);
        transition: font-size 1s ease;
    }
    
    .active, .collapsible:hover {
        text-decoration: none;
    }

    .collapsible-content {
        transition: height 0.5s ease-out;
        overflow: hidden;
    }

    

    .flex-container{
        display: flex;
        flex-direction:column;
        justify-content: center;
    }

    .text-container
    {
        color: var(--primary-color);
        text-align: left;
        font-family: var(--primary-font);
        font-size: 1.1rem;
        font-weight: 300;
        transition: font-size 1s ease;

        h4
        {
            font-size: 1.2rem;
            font-weight: 500;
        }

        b
        {
            font-weight: 500;
        }

        a
        {
            color: var(--purple-color);
        }
    }
}

@media (width > 768px)
{

    .section-container{
    
        .img
        {
            width: 20rem;
        }
    
        .title
        {
            font-size: 2.0rem;
        }
    
        .subtitle
        {
            font-size: 1.7rem;
        }
    
        .collapsible {
            font-size: 1.7rem;
        }
        
        .active, .collapsible:hover {
        }
    
        .collapsible-content {
        }
    
        .collapsible.active + .collapsible-content {
        }
    
        .text-container
        {
            font-size: 1.4rem;
    
            h4
            {
                font-size: 1.5rem;
            }
    
            b
            {
            }
    
            a
            {
            }
        }
    }  

}

@media (width > 1224px)
{

    .section-container{
        .img
        {
            width: 25rem;
        }
    
        .title
        {
            font-size: 2.3rem;
        }
    
        .subtitle
        {
            font-size: 2.0rem;
        }
    
        .collapsible {
            font-size: 2.0rem;
        }
        
        .active, .collapsible:hover {
        }
    
        .collapsible-content {
        }
    
        .collapsible.active + .collapsible-content {
        }

        .flex-container{
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 20px;
            height: 100dvh;

            .text-container{
                flex: 1;
                max-width: 50%;
            }
        }
    
        .text-container
        {
            font-size: 1.7rem;
    
            h4
            {
                font-size: 1.8rem;
            }
    
            b
            {
            }
    
            a
            {
            }
        }
    }  

}