.landing-container {
  position: relative;
  width: auto;
  height: 100dvh;
  overflow: hidden;

  background: transparent;

  .landing-title {
    color: var(--purple-color);
    position: absolute;
    margin: 2dvh 3dvh;
    font-family: var(--primary-font);
    font-size: 1.7rem;
    font-weight: 300;
    transition: font-size 1s ease;
  }

  .tag {
    position: absolute;
    border-radius: 3px;
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--primary-color);
    mix-blend-mode: difference;
    font-weight: 300;
    transition: font-size 1s ease, color 0.2s ease;
  }

  .tag:hover {
    font-size: 1.7rem;
    color: var(--purple-color);
    mix-blend-mode: normal;
  }
}

@media (width > 768px) {
  .landing-container {
    .landing-title {
      font-size: 2rem;
    }

    .tag {
      font-size: 1.7rem;
    }

    .tag:hover {
      font-size: 2rem;
    }
  }
}

@media (width > 1224px) {
  .landing-container {
    background-size: cover;

    .landing-title {
      font-size: 2.3rem;
    }

    .tag {
      font-size: 1.9rem;
    }

    .tag:hover {
      font-size: 2.3rem;
    }
  }
}
