.section-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem 0rem;

    .section-img
    {
        width: 14rem;
        border-radius: 5%;
    }

    .header-container
    {



        .title
        {
            font-size: 1.8rem;
            font-weight: bold;
            color: var(--purple-color);
        }
    }



    .text-container
    {

        p
        {
            font-size: 1.3rem;
            font-weight: 400;

            a
            {
                /* text-decoration: none; */
                color: var(--primary-color);
            }
        }
    }

    .links-container
    {
        margin-top: 3rem;

    }

}