.footer-container {
    display: flex;
    flex-direction: column;
    margin: 2rem 2rem 1rem 2rem;

    .title
    {
        text-align: left;
        font-family: var(--secondary-font);
        font-size: 2rem;
        font-weight:500;
        color: var(--purple-color);
    }

    .text-container
        {

            p /*Qué es esta p?*/
            {
                text-align: justify;
                font-family: var(--primary-font);
                font-size: 1rem;
                font-weight: 300;

                a/*Qué es esta a?*/
                {
                    /* text-decoration: none; */
                    color: var(--primary-color);
                }
            }
        }
}