:root {
  --primary-font: "Kanit";
  --secondary-font: "Work Sans", serif;

  --primary-color: #f0f0f0;
  --purple-color: #ff97fd;
  --background-color: #0a0a0a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--primary-color);
  background-color: #0a0a0a;
  font-family: var(--primary-font);
  line-height: 1.5;
  font-weight: 400;

  --port-view-m: 768px;
  --port-view-l: 1224px;
}

body {
  max-width: 100%;
  margin: 0;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 4px;
  height: 8px;
  position: absolute;
}

::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
  opacity: 1px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--purple-color);
  border-radius: 10px;
  /* border: 2px solid transparent; */
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ff97fdcc;
}

::-webkit-scrollbar-thumb:active {
  background-color: #ff97fd99;
}
